<div>
  <div class="flex justify-center items-center py-5">
    <p class="font-bold my-5 text-xl">新規登録</p>
  </div>
  <div class="w-3/5 p-10 m-auto bg-white rounded-lg">
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
      <div class="my-4 flex justify-center">
        <input
          class="w-full p-2 border border-gray-300 rounded-md"
          placeholder="タイトル"
          id="title"
          name="title"
          type="text"
          formControlName="title"
        />
      </div>
      <span
        *ngIf="todoForm.controls['title'].errors?.['required'] && (todoForm.controls['title'].dirty || todoForm.controls['title'].touched)"
        class="text-red-500"
        >タイトルは必須項目です。</span
      >
      <div class="my-4 flex justify-center">
        <select
          class="w-full border border-gray-300 p-2 rounded-md"
          id="category"
          formControlName="category"
        >
          <option value="null">選択してください</option>
          <option *ngFor="let choice of categoryChoices" [ngValue]="choice">
            {{ choice.displayName }}
          </option>
        </select>
      </div>
      <span
        *ngIf="todoForm.controls['category'].errors?.['required'] && (todoForm.controls['category'].dirty || todoForm.controls['category'].touched)"
        class="text-red-500"
        >カテゴリーは必須項目です。</span
      >
      <div class="my-4 flex justify-center">
        <textarea
          class="w-full p-2 border border-gray-300 rounded-md"
          placeholder="内容"
          cols="30"
          rows="10"
          formControlName="description"
        ></textarea>
      </div>
      <span
        *ngIf="todoForm.controls['description'].errors?.['required'] && (todoForm.controls['description'].dirty || todoForm.controls['description'].touched)"
        class="text-red-500"
        >内容は必須項目です。</span
      >
      <div class="flex justify-center my-4">
        <div class="w-full flex">
          <div class="w-full">
            <input
              class="w-full p-2 border border-gray-300 rounded-md"
              type="date"
              formControlName="startDate"
            />
            <span
              *ngIf="todoForm.controls['startDate'].errors?.['required'] && (todoForm.controls['startDate'].dirty || todoForm.controls['startDate'].touched)"
              class="text-red-500"
              >内容は必須項目です。</span
            >
          </div>
          <p class="flex items-center mx-3">~</p>
          <div class="w-full">
            <input
              class="w-full p-2 border border-gray-300 rounded-md"
              type="date"
              formControlName="endDate"
            />
            <span
              *ngIf="todoForm.controls['endDate'].errors?.['required'] && (todoForm.controls['endDate'].dirty || todoForm.controls['endDate'].touched)"
              class="text-red-500"
              >内容は必須項目です。</span
            >
          </div>
        </div>
      </div>
      <div class="flex justify-center gap-4">
        <!-- ボタン押下にバリデーションが発火させたい場合 -->
        <button
          class="bg-blue-500 hover:opacity-80 text-white font-bold py-3 px-10 rounded"
          type="submit"
        >
          登録
        </button>

        <!-- 必須項目が全て入力されたらボタンが押せるようにしたい場合 -->
        <!-- <button
          [ngClass]="{
            'bg-blue-500 hover:opacity-80': !todoForm.invalid,
            'bg-gray-500 opacity-50 cursor-not-allowed': todoForm.invalid
          }"
          class="text-white font-bold py-3 px-10 rounded"
          type="submit"
          [disabled]="todoForm.invalid"
        >
          登録
        </button> -->

        <button
          class="bg-red-500 hover:opacity-80 text-white font-bold py-3 px-6 rounded"
          [routerLink]="['/todos']"
        >
          キャンセル
        </button>
      </div>
    </form>
  </div>
</div>
