<div>
  <div class="flex justify-center items-center py-5">
    <p class="font-bold my-5 text-xl">新規登録</p>
  </div>
  <div class="w-3/5 p-10 m-auto bg-white rounded-lg">
    <form [formGroup]="todoForm" (ngSubmit)="addTodo()">
      <div class="my-4 flex justify-center">
        <input
          class="w-full p-2 border border-gray-300 rounded-md"
          placeholder="タイトル"
          id="title"
          name="title"
          type="text"
          formControlName="title"
        />
      </div>
      <span
        *ngIf="todoForm.controls['title'].errors?.['required'] && (todoForm.controls['title'].dirty || todoForm.controls['title'].touched)"
        >タイトルは必須です。</span
      >
      <div class="my-4 flex justify-center">
        <textarea
          class="w-full p-2 border border-gray-300 rounded-md"
          placeholder="内容"
          cols="30"
          rows="10"
          formControlName="description"
        ></textarea>
      </div>
      <div class="flex justify-center my-4">
        <div class="w-full flex">
          <input
            class="w-full p-2 border border-gray-300 rounded-md"
            type="date"
            formControlName="startDate"
          />
          <p class="flex items-center mx-3">~</p>
          <input
            class="w-full p-2 border border-gray-300 rounded-md"
            type="date"
            formControlName="endDate"
          />
        </div>
      </div>
      <div class="flex justify-center gap-4">
        <!-- <input
          class="bg-blue-500 hover:opacity-80 text-white font-bold py-3 px-10 rounded"
          type="submit"
          value="登録"
          [disabled]="todoForm.invalid"
        /> -->
        <button
          class="bg-blue-500 hover:opacity-80 text-white font-bold py-3 px-10 rounded"
          type="submit"
        >
          登録
        </button>

        <button
          class="bg-red-500 hover:opacity-80 text-white font-bold py-3 px-6 rounded"
          [routerLink]="['/todo']"
        >
          キャンセル
        </button>
      </div>
    </form>
  </div>
</div>
